.header-wrapper {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    width: 200px;
    height: 100px;
}

.header-nav {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    font-weight: normal;
    font-size: 24px;
}

.active {
    text-decoration: underline solid #FF6060;
}

@media  (max-width: 768px) {

    .header-wrapper {
        padding: 10px;
        width: 90%;
    }

    .logo {
        margin-left: unset;
        width: 145px;
        height: 70px;
    }

    .header-nav {
        width: 40%;
    }

    .nav-item {
        font-size: 15px;
        display: block;
        width: unset;
    }
}