.logement-slideshow-wrapper {
    position: relative;
}

.logement-slideshow-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.logement-slideshow-image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.chevron {
    position: absolute;
    color: white;
    width: 45px;
    height: 80px;
    top: 40%;
    cursor: pointer;
}

.slider-chevron-left {
    left: 3%;
}

.slider-chevron-right {
    right: 3%;
}

.logement-slideshow-number {
    position: absolute;
    bottom: 10px;
    color: white;
    font-weight: 300;
}

@media screen and (max-width: 768px) {

    .logement-slideshow-image-wrapper {
        height: 180px;
    }

    .logement-slideshow-number {
        display: none;
    }

    .chevron {
        width: 22px;
        height: 40px;
        top: 41%;
    }

}