.banner-wrapper {
    position: relative;
    display: flex;
    padding: 0% 90px;
    width: 89%;
    height: 223px;
}

.banner {
    height: 223px;
    filter: brightness(70%);
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 30px;
    left: 30%;
    color: white;
    font-weight: 500;
    font-size: 48px;
}

@media  screen and (max-width: 768px) {

    .banner-wrapper {
        height: 111px;
        padding: 0% 25px;
    }

    .banner {
        object-fit: fill;
        height: 111px;
    }

    .banner-text {
        width: 50%;
        top: 20px;
        left: 10%;
        font-size: 18px;
    }
}