
.logements-list-wrapper {
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 89%;
    margin: auto;
    margin-top: 80px;
}

.logement-item {
    margin: auto;
    margin-top: 40px;
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, #FF6060 0%, #FF6060 70%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.logement-title {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: -30px;
    width: 80%;
}

.logement-image {
    border-radius: 15px;
    object-fit: cover;
    margin: auto;
    width: 300px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .logements-list-wrapper {
        margin-top: 10px;
        background-color: unset;
        flex-direction: column;
    }

    .logement-item {
        width: 100%;
    }

    .logement-image {
        width: 90%;
    }
}