.wrapper-general {
    width: 1023px;
}
.about-content {
    padding: 0;
    margin-top: 30px;
    width: 96%;
    margin-left: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .about-content {
        width: 98%;
        margin-left: 1%;
    }
}

